<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top: 120px; margin-bottom: 120px;">
  <div class="mission-text">
    <p class="underline">Ils nous font confiance</p>
  </div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/DanteZ5", id:"img-profile", style: "object-fit: cover; display: block; margin: 0px auto" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="carousel-caption">
        <p class="testimonial-text">"Grâce à Doubtfire, je n'ai plus peur de confier ma fille. Je peux choisir
        une bonne grand mère pour s'occuper d'elle."</p>
        <em class="testimonial-text">Dante</em>
      </div>
    </div>
    <div class="item">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/tvuit", id:"img-profile", style: "object-fit: cover; display: block; margin: 0px auto" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="carousel-caption">
        <p class="testimonial-text">"J'adore confier mon Popeye à Jacqueline ! A chaque fois il revient avec la queue qui frétille !"</p>
        <em class="testimonial-text">Thibaud</em>
      </div>
    </div>
    <div class="item">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/jbchenut", id:"img-profile", style: "object-fit: cover; display: block; margin: 0px auto" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="carousel-caption">
        <p class="testimonial-text">"Ces femmes d'expériences saurons vous surprendre..."</p>
        <em class="testimonial-text">Nassim</em>
      </div>
    </div>
      <div class="item">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/TDesmoul", id:"img-profile", style: "object-fit: cover; display: block; margin: 0px auto" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="carousel-caption">
        <p class="testimonial-text">"Si seulement ces grands-mères pouvaient les aider à coder..."</p>
        <em class="testimonial-text">Thomas</em>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" style="background: transparent; color: #EF7E56;" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" style="background: transparent; color: #EF7E56;" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

