
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3">
      <div class="grandma-title">
      <%= cl_image_path("doubtfire_logo_white"), id:"img-profile", style: "object-fit: cover" %>
      <h2>Maximilien</h2>
      <p></em>"Plus qu'une garde d'enfant, une rencontre qui a bouleversé ma vie."</em></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
      <div class="grandma-title">
      <%= cl_image_path("doubtfire_logo_white"), id:"img-profile", style: "object-fit: cover" %>
      <h2>Dante</h2>
      <p></em>"Une prestation de qualité et un système qui a du sens : il s'agit de récréer du lien."</em></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
      <div class="grandma-title">
      <%= cl_image_path("doubtfire_logo_white"), id:"img-profile", style: "object-fit: cover" %>
      <h2>Nassim</h2>
      <p><em>"Mon popeye adore quand Jacqueline le garde, et je sais qu'il est entre de bonnes mains."</em></p>
      </div>
    </div>
  </div>
</div>
