<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,74,26,0.2) 0%, rgba(50,50,50,0.2) 50%), url('http://www.lerevenu.com/sites/site/files/styles/img_lg/public/field/image/immobilier-aide-petits-enfants-phovoir.jpg?itok=CQ2AB6Ic');">
  <div class="banner-content">
    <h1>Doubtfire</h1>
    <p>Faites confiance à l'expérience</p>
  </div>
</div>


<% @grandmas.each do |grandma| %>
<%= link_to grandma.user.email, grandma_path(grandma) %>
<%= image_tag grandma.user.photo %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-3 col-sm-3 grandmas">
      <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://bridoz.com/wp-content/uploads/2015/04/mamie-cigare-2.jpg')">
        <div class="grandma-title">
          <h2>Jacqueline</h2>
          <p>Paris</p>
        <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>



