<% @grandmas.each do |grandma| %>
<%= link_to grandma.user.email, grandma_path(grandma) %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-3 col-sm-3">
      <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://bridoz.com/wp-content/uploads/2015/04/mamie-cigare-2.jpg')">
        <div class="grandma-title">
          <h2>Jacqueline</h2>
          <p>Paris</p>
        <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>



