<% unless params[:query].present? %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,74,26,0.2) 0%, rgba(50,50,50,0.2) 50%), url('http://21033-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/01/feat_grandma_kids.jpg');">
  <div class="banner-content">
    <h1>Doubtfire</h1>
    <p>Faites confiance à l'expérience</p>
    <% unless user_signed_in? %>
    <button type="button" class="btn btn-classic" data-toggle="modal" data-target=".modal-sign_up">Create an account</button>
    <% end %>
  </div>
</div>

<div class="modal fade modal-sign_up" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "shared/form_sign_up" %>
    </div>
  </div>
</div>


<div class="mission-text" id="#mission">
  <p>Disponibles, responsables, sérieuses et proches de chez vous…</p>
  <br>
  <p class="underline">Nos grand-mères sont à votre service.</p>
</div>
<% end %>

<%= render 'grandmacards' %>

<%= render 'grandmamap' %>

<%= render 'customertestimonial' %>
