<h1>index de bookings / user</h1>

<% @bookings.each do |booking| %>
  <p>ID: <%= link_to booking.id, grandma_booking_path(booking.grandma.user.id, booking.id)  %></p>
  <p>Status: <%= booking.status %></p>
  <p>User: <%= booking.user.id %></p>
  <p>Grandma: <%= booking.grandma.user.id %></p>
<% end %>
