.tcontainer {
  margin: auto;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: rgba(249, 249, 249, 0.7);
  color: #305973;
  border-radius: 10px;
}
h1 {
  font-size: 36px;
}
.fat {
  font-size: 36px;
}
