.main-container {
  display: block;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
}


#img-profile {
    width: 200px;
    height: 200px;
    border: 3px solid #cccccc;
    border-radius: 50%;

}

.card-show {
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

#activity {
  display: flex;
  justify-content: space-around;
  padding: 30px;

}

#grandma-description {
  text-align : justify;
  font-size: 18px;
  margin: 10px;
}

#grandma-pricing {
  opacity: 0.6;
  text-align: justify;
}

.card-show h1 {
  font-size: 30px;
}

.card-show h2 {
  font-size: 24px;
  opacity: 0.6;
}

.card-show h3 {
  font-size: 24px;
  color: #EF7E56;
  text-align: left;
}


.polaroid {
  margin-top: 20px;
  position: relative;
  object-fit: cover;
}

.polaroid img {
  width: 300px;
  height: 250px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Lato';
  color: black;
}
