<div class="footer">
  <div class="footer-links">
    <%= link_to "", "#", class: "fab fa-facebook-f" %>
    <%= link_to "", "#", class: "fab fa-instagram" %>
    <%= link_to "", "#", class: "fab fa-twitter" %>
    <%= link_to "", "#", class: "fab fa-linkedin-in" %>
  </div>
</div>
