.btn-classic {
  color: #F9F9F9;
  background: #305973;
  padding: 10px 40px;
  border-radius: 40px;
  opacity: 0.9;
  margin: 10px;
}
.btn-classic:hover {
  text-decoration: none;
  background: #305973;
  color: #F9F9F9;
  opacity: 1;
}
.btn-confirm {
  color: #F9F9F9;
  background: #305973;
  padding: 10px 40px;
  border-radius: 40px;
  opacity: 0.9;
}
.btn-confirm:hover {
  text-decoration: none;
  background: #305973;
  color: #F9F9F9;
  opacity: 1;
}
.btn-decline {
  color: #F9F9F9;
  background: #dd3e3e;
  padding: 10px 40px;
  border-radius: 40px;
  opacity: 0.9;
}
.btn-decline:hover {
  text-decoration: none;
  background: #dd3e3e;
  color: #F9F9F9;
  opacity: 1;
}
